:root {
    --secondaryColor: #e69f0c;
    --textColor: #333;
    --transColor: #fff;
}

.helpBox{
    width: 100%;
    padding: 30px;
}

.helpBox small{
    color: var(--secondaryColor);
    text-transform: capitalize;
}

.helpBox .cardBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px;
    height: auto;
}

.helpBox .cardBox{

}

.helpBox h1{
    color: black;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 auto;
    width: 560px;
    text-align: center;
    line-height: 50px;
}

@media only screen and (max-width: 768px) {
    .helpBox{
        padding: 20px;
        height: auto;
    }

    .helpBox .cardBox{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        height: auto;
        padding: 10px;
        margin: 30px 0;
    }

    .helpBox h1{
        width: 100%;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        text-align: start;
    }
}

@media only screen and (max-width: 1026px) {

    .helpBox .cardBox{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        height: auto;
        padding: 10px;
        margin: 30px 0;
    }

}