:root {
    --secondaryColor: #735a2c;
    --textColor: #333;
    --transColor: #fff;
}

.cardContainer .card{
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    position: relative;
    margin: 20px 0;
}

.iconBox{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    width: 15%;
    height: 60px;
    align-items: center;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: -1px;
    background: #ffffff;
}
.card h3{}
.card p{
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    color: rgba(169, 169, 169, 0.73);
}
.card button{}

.card:hover{
    border: 1px solid var(--secondaryColor);
    background: #fcfafa;
}

.card:hover p{
    color: #000000;
}


@media only screen and (max-width: 768px) {
    .cardContainer .card{
        margin: 10px;
    }

    .card p{
        width: 100%;
    }
}